<!--Previously Searched Card-->
<aside>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Previously Searched
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
</aside>

<!--Card of Searched Games-->
<div class="card w-75">
  <img
    src="{{short_screenshots}}"
    class="card-img-top"
    alt="Image of most recently searched game"
  />
  <div class="card-body">
    <h5 class="card-title">{{games_name}}</h5>
    <p class="card-text">{{games_description}}</p>
    <a href="#" class="btn btn-primary"></a>
  </div>
</div>