<section class="col-12">

        {{!-- // game and description card --}}
        <div class="card mb-4" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="{{background_image}}" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">Game Title:{{slug}} </h5>
                        <p class="card-text">Description: {{game_description}} </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
   

        {{!-- // rating input form --}}
        <div class="col-4">
            <form>
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticRating" class="sr-only">Rating</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticRating" value="Your rating">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputRating" class="sr-only">Rating</label>
                        <input type="number" class="form-control" id="inputRating" placeholder="Rating 1-100">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mb-2">Confirm Rating</button>
                    </div>
                </form>
                {{!-- //review input --}}
                <form>
                    <div class="form-group mb-2">
                        <label for="exampleFormControlTextarea1">Enter your review here!</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="text center">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </div>
                </form>
            </form>
        </div>
    </div>
</section>
{{!-- <script src="/js/game.js"></script> --}}
