.carousel {
  margin: auto;
  width: 45%;
  max-height: 250px;
  justify-content: center;
}

.footer {
  text-justify: center;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;

  margin: 0%;
}

/* For carousel image sizing */
.carousel-img {
  max-height: 25em;
  margin: auto;
}

/* For homepage large sign up text */
.advertise {
  text-align: center;
}

#game-description {
  max-height: 200px;
  overflow: auto;
}

/* .carousel-control-prev-icon .carousel-control-next-icon {
  position: relative;
  margin: auto;
} */
