.carousel {
  margin: auto;
  width: 45%;
  max-height: 250px;
  justify-content: center;
}

.footer {
  text-justify: center;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;

  margin: 0%;
}

/* For carousel image sizing */
.carousel-img {
  max-height: 25em;
  margin: auto;
}

/* For homepage large sign up text */
.advertise {
  text-align: center;
}

.gameCard {
  display: none;
}



#game-description {
  max-height: 200px;
  overflow: auto;
}
#title{
position:relative;
right: 20px;
bottom: 35px;
}

.nav{
  margin-right:50px;
  font-size: 24px;
  position: relative;
  top: 50px;
}

#hm:hover{
  text-decoration: underline;
}

#srch:hover{
  text-decoration: underline;
}

#dash:hover{
  text-decoration: underline;
}

#lo:hover{
  text-decoration: underline;
}

#su:hover{
  text-decoration: underline;
}
/* .carousel-control-prev-icon .carousel-control-next-icon {
  position: relative;
  margin: auto;
} */